* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 1.5;
}

header {
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
    background: -webkit-linear-gradient(45deg, red, darkred, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

.main {
    margin-top: 50px;
    text-align: center;
}



.howtoplay {
    font-size: 32px;
}

.howtoplay2 {
    margin-bottom: 10px;
}

.scoreboard {
    margin-bottom: 15px;
  }

.buttons, .playerScores, .healthBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

.healthBar {
    font-size: 24px;
}

.hearts {
    color: red;
}

.scores {
    font-size: 32px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    border: 0;
}

.playerButton:hover {
    animation-name: heartbeatEffect;
    animation-duration: 0.5s;
}

button:active {
    background-color: gray;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px;
    text-align: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: rgb(190, 190, 190);
    font-size: 20px;
}

.footerText:hover {
    animation-name: footerGlow;
    animation-duration: 1s;
}

.modal-container {
    display: none;
}

.modal-container.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content {
    animation-name: retryScreenAnimation;
    animation-duration: 1s;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    position: fixed;
    margin-bottom: 25vh;
}

#retryButton {
    height: 100px;
    width: 250px;
    font-size: 36px;
}

#retryButton:hover {
    background-color: red;
}

.drawNotification {
    display: none;
}

.drawNotification.show{
    display: block;
}

.draw-notif {
    opacity: 0;
    animation-name: drawAnimation;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

/* ANIMATIONS */

@keyframes footerGlow {
    0%      {color:rgb(190, 190, 190);}
    50%     {color:red;}
    1000%   {color:rgb(190, 190, 190);}
}

@keyframes heartbeatEffect {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

@keyframes retryScreenAnimation {
    0% {transform: scale(0);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
}

@-webkit-keyframes drawAnimation {
    0% {transform: scale(0);}
    30% {transform: scale(1.5); opacity: 100;}
    70% {transform: scale(1); opacity: 100;}
    100% {transform: scale(0);}
}
